body
{
    margin: 0;
    text-align: center;
}

.state
{
    .label
    {
        font-size: 2rem;
    }
}

#test
{
    .label
    {
        color: red;
    }
}

#check
{
    display: none;

    .label
    {
        color: green;
    }
}